# Data Type in Python

- Number (int,float,complex)
- text (str)
- sequence (list,tuple,orange)
- mapping (dict)
- set (set,frozenset)
- boolean (bool)
- binary (bytes,bytearray, memoryview)
- none  ( none type)

In [1]:
x= 1+1
print(type(x))

<class 'int'>

In [2]:
y=20.5
print(type(y))

<class 'float'>

In [3]:
z="hello world"
print(type(z))

<class 'str'>

In [5]:
a=1j
print(type(a))

<class 'complex'>

In [10]:
b=["apple", "banana", "cherry"]
print(type(b))


c=("apple", "banana", "cherry")
print(type(c))


d=range(6)
print(type(d))

e={
    "name":"sunny",
    "age":23
}

print(type(e))

f={"apple","banana","dragon fruit"}
print(type(f))



# if we want to specify any of the data type then we can use the constructor function for that 
x = str("hello world")
print(type(x))

<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'str'>

In [ ]:
# type casting in python

- To check the data type in python is we use type keyword

# List in  python

In [92]:
newList  = [1,2,4,5]
print(newList)
print(type(newList))

[1, 2, 4, 5]
<class 'list'>

# Append

In [93]:
newList.append("s")
print(newList)

[1, 2, 4, 5, 's']

In [94]:
newList

[1, 2, 4, 5, 's']

In [95]:
# indexing in the list

In [96]:
newList[0]

1

In [97]:
newList[0:5]

[1, 2, 4, 5, 's']

In [98]:
newList[0:6]

[1, 2, 4, 5, 's']

## Insert

- Insert at a specific index

In [99]:
newList.insert(1,"hello sunny")
print(newList)

[1, 'hello sunny', 2, 4, 5, 's']

## Extend method in python

In [100]:
listNew = [1,2,3,4,5]

In [101]:
listNew.extend([10,11,71])

In [102]:
print(listNew)

[1, 2, 3, 4, 5, 10, 11, 71]

# Sets in Python

In [103]:
thisSet = {"hwllo","sunny","how", "are","you"}
print(thisSet)
print(type(thisSet))
thisSet2 = set((1,2,3,5,5)) # this is the set constructor
print(thisSet2)

{'how', 'hwllo', 'are', 'sunny', 'you'}
<class 'set'>
{1, 2, 3, 5}

In [104]:
# function in sets 
print(len(thisSet))

5

In [105]:
# acessig the  element of the sets 
for x in thisSet:
    print(x)

# add items in set 
thisSet.add(12)
print(thisSet)

how
hwllo
are
sunny
you
{'how', 'hwllo', 'are', 12, 'sunny', 'you'}

In [106]:
thisset2 = {"apple", "banana", "cherry"}
tropical2 = {"pineapple", "mango", "papaya"}

thisset2.update(tropical2)

print(thisset2)

{'mango', 'banana', 'pineapple', 'papaya', 'cherry', 'apple'}

In [107]:
# to remove element from the set 
thisIsNewSet = {1,2,4,5}
thisIsNewSet.remove(4) # if the remove element will not exist then it will raise a error we can use the discard method instead of this 
print(thisIsNewSet)
x = thisIsNewSet.pop() # remove an element randomly
print(x)
print(thisIsNewSet)

{1, 2, 5}
1
{2, 5}

# dictionary in python

In [108]:
thisIsDict = {
    "name":"sunny",
    "car":"jaguar",
    "bike":"kawasaki z900",
    "age":23
}

print(thisIsDict)

{'name': 'sunny', 'car': 'jaguar', 'bike': 'kawasaki z900', 'age': 23}

In [109]:
# accessing the dictionary element
thisIsDict["name"]
x= thisIsDict.get("car")
print(x)

# getting the list of the keys 

y = thisIsDict.keys()
print(y)


# adding new element  to the dictionary

thisIsDict["gender"]="male"
print(thisIsDict)

# removing the element from the dictionary

thisIsDict.pop("gender")
print(thisIsDict)

thisIsDict.popitem() # remove any random element from the dictionary

# nested dictionary 

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child1"]["name"])

jaguar
dict_keys(['name', 'car', 'bike', 'age'])
{'name': 'sunny', 'car': 'jaguar', 'bike': 'kawasaki z900', 'age': 23, 'gender': 'male'}
{'name': 'sunny', 'car': 'jaguar', 'bike': 'kawasaki z900', 'age': 23}
Emil

# Tuples in python

In [110]:
thisIsTuple = ("apple","banana","cheery","sunflower","lol")
print(thisIsTuple)

('apple', 'banana', 'cheery', 'sunflower', 'lol')

In [111]:
thisIsTuple[1] # accessing  is same as  in the array

'banana'

In [112]:
thisIsTuple[1:3] # exclude the last index

('banana', 'cheery')

In [114]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

TypeError: 'list' object is not callable

In [121]:
# unpacking of tuples 

fruitsName = ("apple","mango","banana","strawberry")
(fruit1,fruit2,*fruit3)=fruitsName
print(fruit1,fruit2,fruit3)

apple mango ['banana', 'strawberry']